<?xml version="1.0"?>
<config>
    <modules>
        <InternetCode_AjaxCatalog>
            <version>0.3.11</version>
        </InternetCode_AjaxCatalog>
    </modules>
    <global>
        <blocks>
            <ajaxcatalog>
                <class>InternetCode_AjaxCatalog_Block</class>
            </ajaxcatalog>
        </blocks>
        <models>
            <ajaxcatalog>
                <class>InternetCode_AjaxCatalog_Model</class>
            </ajaxcatalog>
        </models>
        <helpers>
            <ajaxcatalog>
                <class>InternetCode_AjaxCatalog_Helper</class>
            </ajaxcatalog>
            <checkout>
                <rewrite>
                    <cart>InternetCode_AjaxCatalog_Helper_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <internetcode_ajaxcatalog>
                        <type>model</type>
                        <class>ajaxcatalog/observer</class>
                        <method>prepareForAjaxCatalog</method>
                    </internetcode_ajaxcatalog>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <routers>
            <internetcode_ajaxcatalog>
                <use>standard</use>
                <args>
                    <frontName>ajaxcatalog</frontName>
                    <module>InternetCode_AjaxCatalog</module>
                </args>
            </internetcode_ajaxcatalog>
        </routers>
        <translate>
            <modules>
                <InternetCode_AjaxCatalog>
                    <files>
                        <default>InternetCode_AjaxCatalog.csv</default>
                    </files>
                </InternetCode_AjaxCatalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <internetcode_ajaxcatalog>
                    <file>internetcode_ajaxcatalog.xml</file>
                </internetcode_ajaxcatalog>
            </updates>
        </layout>
        <ajaxroutes>
            <catalog_category_view>
                <class>ajaxcatalog/catalog_category_view</class>
            </catalog_category_view>
            <catalogsearch_result_index>
                <class>ajaxcatalog/catalogsearch_result_index</class>
            </catalogsearch_result_index>
        </ajaxroutes>
        <ajaxentries>
            <shared>
                <default/>
            </shared>
            <home>
                <cms_index_index/>
            </home>
            <category>
                <catalog_category_view/>
                <catalog_category_layered/>
                <catalogsearch_result_index/>
            </category>
            <product>
                <catalog_product_view/>
            </product>
            <account>
                <customer_account_create/>
                <customer_account_login/>
                <customer_account_index/>
                <customer_account/>
                <sales_order_view/>
                <sales_order_history/>
                <customer_address_index/>
                <customer_address_form/>
            </account>
            <checkout>
                <checkout_onepage_index/>
            </checkout>
            <contacts>
                <contacts_index_index/>
            </contacts>
            <cart>
                <checkout_cart_index/>
            </cart>
        </ajaxentries>
        <ajaxcritical/>
    </frontend>
</config>
